/*----------------------*\
*!   Gradient Headers   !*
\*----------------------*/

/** Colors **/
:root .theme-light {
    --h1-color: #3D515E;
    --h1-gradient: var(--h1-color),#3D515E 0%, #B1A8CE 50%;
    --h2-color: #983839;
    --h2-gradient: var(--h2-color),#983839 0%, #e1a37a 50%, #CB757F 100%;
    --h3-color: #6D2A74;
    --h3-gradient: var(--h3-color), #6D2A74 0%, #D07B75 50%, #AF87C4 100%;
    --h4-color: #d382a2;
    --h4-gradient: var(--h4-color), #d382a2 0%, #D3C3EF 50%, #7EB2E2 100%;
    --h5-color: #34AAB6;
    --h5-gradient: var(--h5-color), #34AAB6 0%, #eacf7d 50%, #BADAB9 100%;
    --h6-color: #741385bb;
    --h6-gradient: var(--h6-color), #741385bb 0%, #d3b096 50%, #D3A1A9 100%;
}

:root .theme-dark {
    --h1-color: #3D515E;
    --h1-gradient: var(--h1-color),#3D515E 0%, #a9c3d4 50%, #B1A8CE 100%;
    --h2-color: #983839;
    --h2-gradient: var(--h2-color),#983839 0%, #e1a37a 50%, #CB757F 100%;
    --h3-color: #6D2A74;
    --h3-gradient: var(--h3-color), #6D2A74 0%, #D07B75 50%, #AF87C4 100%;
    --h4-color: #d382a2;
    --h4-gradient: var(--h4-color), #d382a2 0%, #D3C3EF 50%, #7EB2E2 100%;
    --h5-color: #34AAB6;
    --h5-gradient: var(--h5-color), #34AAB6 0%, #eacf7d 50%, #BADAB9 100%;
    --h6-color: #741385bb;
    --h6-gradient: var(--h6-color), #741385bb 0%, #d3b096 50%, #D3A1A9 100%;
}

/** Gradient Headers **/

/* Fix formatting symbol colors */
.cm-formatting-header {
    color: inherit;
}

/* Add text-clipped background gradients */
.cm-header:not(.cm-formatting),
:is(h1, h2, h3, h4, h5, h6) {
    background:linear-gradient(to right, var(--gradient-header));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

/* Apply the gradient variables */
.cm-header-1,
h1 {
    --gradient-header: var(--h1-gradient);
}

.cm-header-2,
h2 {
    --gradient-header: var(--h2-gradient);
}

.cm-header-3,
h3 {
    --gradient-header: var(--h3-gradient);
}

.cm-header-4,
h4 {
    --gradient-header: var(--h4-gradient);
}

.cm-header-5,
h5 {
    --gradient-header: var(--h5-gradient);
}

.cm-header-6,
h6 {
    --gradient-header: var(--h6-gradient);
}

body {
    /* --inline-title-font: var(--h1-font); */
    --h1-font: Merienda;
    --h1-size: 50px;
    --h2-font: Merienda;
    --h2-size: 45px;
    --h3-font: Merienda;
    --h3-size: 40px;
    --h4-font: Merienda;
    --h4-size: 35px;
    --h5-font: Merienda;
    --h5-size: 30px;
    --h6-font: Merienda;
    --h6-size: 25px;
}
